<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted ml-auto">&copy; House.com 2022</span>
        <span><a  style="display: inline; margin-left: 83%;" class="nav-link text-muted " href="/campgrounds/about"> About </a></span>
    </div>
    
</footer>