<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,600;1,700;1,900&family=Nunito:wght@600;800&display=swap"
        rel="stylesheet">

    <style>
         #preloader{
            background: rgb(227, 239, 244) url("https://media.giphy.com/media/xTk9ZvMnbIiIew7IpW/giphy.gif") no-repeat center center;
            background-size: 20%;
            height: 100vh;
            width: 100%;
            position: fixed;
            z-index: 100;
        }
    

        .d-flex .active:hover {
            box-shadow: 0 9px 18px 0 #333333, 0 8px 24px 0 #333333;
        }

        #Caption {
            text-align: center;
            justify-content: center;
            font-family: Georgia, 'Times New Roman', Times, serif;
            margin-top: 10%;
        }

        h2 div {
            font-weight: bolder;
            font-size: 45px;
        }

        h5 {
            background-color: rgb(23, 216, 174);
            font-family: 'Nunito', sans-serif;
            font-family: 'Nunito Sans', sans-serif;
            height: 70px;
            text-align: center;
            font-size: 25px;
            padding-top: 1.3%;
        }

        .bg {
            background-image: url("https://res.cloudinary.com/dcph7qs81/image/upload/v1647057176/YelpCamp/bg_wou5gq.png");
            font-weight: 300;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 25px;
            padding: 45px;
            margin-top: 50px;
            color: cornsilk;
            text-align: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .fbg {
            background-image: url("fbg.png");
            background-repeat: no-repeat;
            background-size: cover;
            text-align: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            padding: 20px;
        }

        #img {
            width: 100%;
        }

        @media(max-width:551px) {
            h5 {
                padding-top: 2%;
                font-weight: bolder;
                font-size: 20px;
            }
        }

        @media(max-width:403px) {
            h5 {
                font-weight: 800;
                font-size: 17px;
                height: 55px;
            }

            @media(max-width:341px) {
                h5 {
                    font-size: 15px;
                    font-weight: 900;
                    height: 50px;
                }
            }

            @media(max-width:303px) {
                h5 {
                    font-size: 12px;
                    font-weight: 900;
                    height: 45px;
                }
            }
    </style>
</head>

<body>
    <div id="preloader"></div>
    <span>
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" style="font-size: 21px; " href="#">House.com</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link" href="/">Home</a>
                        <a class="nav-link" href="/houses">Houses</a>
                        <a class="nav-link" href="/houses/new">New Houses</a>
                    </div>
                </div>
            </div>
        </nav><br>
        <div class="row">
            <div class="col-md-1 order-1 order-md-1"></div>
            <div class="col-md-5 order-2 order-md-2" id="Caption">
                <h2>
                    <div>Introducing</div>
                    <div> House.com </div>
                    <div>Choose your place!</div>
                </h2>
            </div>
            <div class="col-md-5 order-3 order-md-3"><img
                    src="https://res.cloudinary.com/dcph7qs81/image/upload/v1646952592/YelpCamp/NIT_ALLAHABAD_UNIVERSITY_17_w9r3cg.png"
                    id="img" alt=""></div>
            <div class="col-md-1 order-4 order-md-4"></div>
        </div>

        <h5>
            <div> Whether you want to buy or to sell your house, you’ve come to the right place.</div>
        </h5><br><br>
        <h1
            style="text-align: center; font-size: 30px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
            The Best Thing About <br> Success Was Being Able to Buy My Parents <br>A House</h1>
        <div class="bg">
            <h2 style="font-weight: 500; font-size: 40px;">We Believe</h2>
            <div>
                <p>A House is the basic need of every human being.</p>
                <p>It gives the pride of ownership, <br>
                    home value appreciation,<br>
                    mortgage interest deductions,<br>
                    and potential property tax deductions.</p>
                <p>It has the power to transform our lifestyle <br>
                    for ourselves,<br>
                    for our families<br>
                    in our communities.</p>
                <p>No matter how big your house is,<br>
                    it provide us Happiness <br>
                    and a place to live peacefully with family. <br>
                    That’s why having a house is a pride if ownership and appreciation.</p>
                <p>And that’s why we are here, <br>to sell and buy your desired House. </p>
                <p>Are you ready to join us??</p>
            </div>
        </div>

        <h2
            style="text-align: center; padding: 50px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bolder; font-size: 40px;">
            Helping you to find your House</h2>
        <div class="fbg">
            <h3 style="font-weight: bolder;">Founder of House.com</h3><br>

            <p>House.com was founded by Aditya Agnihotri in year 2023 with a vision of providing a chance of selling and
                buying your house in your area. <br>
            </p>
            <p><span style="font-weight: bolder;"> Creater of Website:- </span><span>Aditya Agnihotri</span></p>
        </div>
        <footer class="footer bg-dark py-3 mt-auto">
            <div class="container">
                <span class="text-muted">&copy; House.com 2022</span>
                <span><a style="display: inline; margin-left: 83%;" class="nav-link text-muted "
                        href="/campgrounds/about"> About </a></span>
            </div>

        </footer>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
            integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>

        <script>
            var loader = document.getElementById("preloader");
            window.addEventListener("load", function () {
                loader.style.display = "none";
            })
        </script>
        

</body>

</html>
